@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Sans:400,700&display=swap&subset=cyrillic');

/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
*/

html {
    padding: 0;
    margin: 0;
}

.article-page {
    padding: 0;
    margin: 0;
}


/******************************************************************************
* page header
*******************************************************************************/

.article-page__header {
    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 1300px) {
    .article-page__header {
        width: auto;
    }
}


/******************************************************************************
* main menu
*/
.navbar {
    position: relative;
}

.main-menu {
    display: flex;
    list-style-type: none;
    padding: 0px;
    padding-left: 30px;
    margin: 0px;
    border-bottom: solid 1px #bfbfbf;
}

.main-menu__link {
    display: block;
    padding: 8px 11px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #2a2a2a;
    text-decoration: none;
}

.main-menu__link:hover {
    color: #db055b;
}

.main-menu__button {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 50px;
    height: 50px;
    right: 52px;
    top: 15px;
    border: solid 1px gray;
    border-radius: 3px;
    background-color: #db055b;
}

.main-menu__button-line {
    display: block;
    height: 2px;
    background-color: white;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .main-menu__button {
        display: flex;
    }

    .main-menu {
        display: none;
    }

    .main-menu_expanded {
        display: flex;
        position: absolute;
        top: 70px;
        right: 50px;
        padding: 10px 30px;
        flex-direction: column;
        background-color: white;
        border: solid 1px #bfbfbf;
        border-radius: 3px;
        box-shadow: 2px 2px 5px gray;
    }

}

@media screen and (max-width: 490px) {
    .main-menu__button {
        right: 15px;
    }
}

/******************************************************************************
* control panel
*/

.control-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 52px;
}

.control-panel__work-hour {
    margin-right: 30px;
}

.site-logo {
    display: block;
    width: 174px;
    height: 64px;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
}

.search-field {
    display: flex;
    box-sizing: border-box;
    border: solid 1px #87878a;
    border-radius: 10px;
}

.control-panel__search-field {
    margin-left: 54px;
    width: 400px;
    height: 50px;
}

.search-field__icon {
    display: block;
    width: 54px;
    height: 100%;
    background-image: url(img/magnifer-pink.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.search-field__input {
    flex-grow: 1;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    border: none;
}

.search-field__button {
    display: block;
    width: 54px;
    height: 100%;
    border: none;
    color: transparent;
    background: url(img/arrow.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

.control-panel__strut {
    flex-basis: 30px;
    flex-grow: 1;
}

.signs-panel {
    display: flex;
    align-items: center;
}

.signs-panel__item {
    padding-left: 32px;
    height: 26px;
    margin-left: 30px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    vertical-align: bottom;
    color: #303030;
    background-repeat: no-repeat;
    background-position: left bottom;
    
}

.signs-panel__item::before {
    content: "";
    display: inline-block;
    height: 100%;
}

.signs-panel__item_muted {
    color: #c5c5c5;
}

.signs-panel__item_type_chart {
    background-image: url(img/chart.png);
    padding-left: 40px;
}

.signs-panel__item_type_likes {
    background-image: url(img/like-pink.png);
}

.signs-panel__item_type_basket {
    background-image: url(img/basket-pink.png);
}

.work-hour__phone {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #2a2a2a;
}

.work-hour__time-span {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #434343;
}

@media screen and (max-width: 1200px) {

    .control-panel {
        justify-content: space-between;
    }

    .control-panel__strut {
        display: none;
    }

    .control-panel__search-field {
        flex-basis: 100%;
        flex-grow: 1;
        margin: 5px 0px;
    }

    .signs-panel__item:first-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 490px) {
    .control-panel {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/******************************************************************************
* production panel
*/

.production-selector {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    list-style-type: none;
    height: 52px;
    padding: 0 40px;
    margin: 0;
    border-top: solid 1px #bfbfbf;
    border-bottom: solid 1px #bfbfbf;
}

.production-selector__item {
    border-left: solid 1px #dfdfdf;
    flex-grow: 1;
    text-align: center;
}

.production-selector__item:last-child {
    border-right: solid 1px #dfdfdf;
}

.production-selector__link {
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 52px;
    text-decoration: none;
    color: #2a2a2a;
}

.production-selector__link:hover {
    color: #db055b;
}

.production-selector__link_main {
    line-height: 26px;
    background-color: #c1d1d7;
}

.production-selector__link-logo {
    display: inline-block;
    width: 101px;
    height: 15px;
    background-image: url(img/energotek-logo.png);
}

.production-selector__link_inviting {
    background-color: #db055b;
    color: white;
}

.production-selector__link_inviting:hover {
    color: greenyellow;
}

@media screen and (max-width: 1100px) {
    .production-selector {
        flex-direction: column;
        height: auto;
    }

    .production-selector__item {
        display: none;
        border: none;
        border-top: solid 1px #dfdfdf;
    }

    .production-selector__item:first-child {
        display: block;
    }

    .production-selector_expanded .production-selector__item {
        display: block;
    }
}

/******************************************************************************
* breadcramb panel
*/

.breadcramb {
    display: flex;
    list-style-type: none;
    height: 44px;
    padding: 0;
    padding-left: 65px;
    margin: 0;
    border-bottom: solid 1px #bfbfbf;
}

.breadcramb__item::before {
    content: "\2192";
    padding: 0 8px;
}

.breadcramb__item:first-child::before {
    content: none;
}

.breadcramb__link {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
    line-height: 48px;
    color: #474747;
    text-decoration: none;
}

.breadcramb__link:hover {
    color: #db055b;
}

@media screen and (max-width: 490px) {
    .breadcramb {
        padding-left: 0;
    }
}

/******************************************************************************
* page content
*******************************************************************************/

.main {
    padding: 20px 40px 20px 40px;
}

.article-page__main {
    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
}

.level-1-header {
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;

}

.main__level-1-header {
    margin-left: 25px;
}

/******************************************************************************
* pagination
*/

.pager {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main__top-pager {
    margin-left: 36px;
    margin-top: 22px;
}

.pager__item {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-right: 13px;
}

.pager__link {
    display: block;
    width: 100%;
    font-family:  'PT Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 38px;
    text-decoration: none;
    text-align: center;
    color: #616167;
    border: solid 1px #bfbfbf;
    border-radius: 3px;
}

.pager__span {
    display: block;
    width: 100%;
    font-family:  'PT Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    color: #616167;
}

.pager__item_hidden {
    display: none;
}

.pager__item_active .pager__link {
    background-color: #db055b;
    color: white;
}

/******************************************************************************
* articles
*/

.articles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 48px;
}

.article {
    box-sizing: border-box;
    position: relative;
    padding-left: 270px;
    padding-top: 0px;
    margin-bottom: 50px;
    min-height: 200px;
    flex-basis: 570px;
    /* outline: dotted red 1px; */
}

.article__link {
    display: block;
    text-decoration: none;
}

.article__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 181px;
}

.article__header {
    font-family:  'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: black;
}

.article__para {
    font-family:  'PT Sans', sans-serif;
    font-size: 15px;
    color: black;
}

.main__bottom-pager {
    margin-left: 38px;
    margin-top: -10px;
}


@media screen and (max-width: 1300px) {
    .article-page__main {
        width: auto;
    }
}

@media screen and (max-width: 1250px) {
    .article {
        flex-basis: 100%;
    }

    .main__level-1-header {
        margin-left: auto;
    }

    .main__top-pager {
        margin-left: auto;
    }

    .main__bottom-pager {
        margin-left: auto;
    }

}

@media screen and (max-width: 700px) {
    .article {
        padding-left: 0;
    }

    .article__image {
        position: static;
    }
}

@media screen and (max-width: 490px) {
    .main {
        padding-left:0;
        padding-right: 0;
    } 

    .article__image {
        width: 100%;
        height: auto;
    }
}

/******************************************************************************
* page footer
*******************************************************************************/

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 22px 40px;
    background-color: #dfe1e9;
}

.article-page__footer {
    box-sizing: border-box;
    width: 1280px;
    margin: 54px auto 0;
}

/******************************************************************************
* address panel
*/

.footer__address {
    padding: 20px 0;
    flex-basis: 300px;
}

.address-block__addr {
    font-family:  'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-style: normal;
    color: #242427;
}

.address-block__email {
    font-family:  'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-style: normal;
    color: #242427;
    text-decoration: none;
}

.address-block__email:hover {
    color: #db055b;
    text-decoration: underline;
}


.address-block__phone {
    font-family:  'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    font-style: normal;
    color: #242427;
    text-decoration: none;
}

.address-block__link {
    font-family:  'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #db055b;
}

.address-block__link:hover {
    color: red;
}

/******************************************************************************
* shedule panel
*/

.operating-schedule {
    padding: 20px 0;
    font-family:  'PT Sans', sans-serif;
    font-size: 15px;
    color: #242427;
}

.footer__operating-schedule {
    flex-basis: 300px;
}

/******************************************************************************
* links panel
*/

.footer-links {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
}

.footer__footer-links {
    flex-basis: 300px;
}

.footer-links__item {
    flex-basis: 150px;
    font-family:  'PT Sans', sans-serif;
    font-size: 15px;
    color: #242427;
}

.footer-links__item:hover {
    color: #db055b;
}

.footer-links__item_long {
    flex-basis: 300px;
    margin-top: 10px;
}

/******************************************************************************
* rocket logo panel
*/

.rocket-business-logo {
    padding-top: 80px;
    flex-basis: 150px;

    font-family:  'PT Sans', sans-serif;
    font-size: 15px;
    color: #242427;
    text-decoration: none;
    text-align: right;

    background-image: url(img/rocket-business-logo.png);
    background-repeat: no-repeat;
    background-position: right top;

}

.rocket-business-logo:hover {
    color: #db055b;
}

.footer__logo {
    flex-basis: 150px;
}


@media screen and (max-width: 1300px) {
    .article-page__footer {
        width: auto;
    }
}

@media screen and (max-width: 1150px) {
    .rocket-business-logo {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 490px) {
    .footer {
        padding-left: 0px;
        padding-right: 0px;
    }
}
